.mqm_item {
	cursor: pointer;
}
.mqm_hidden {
	display: none;
}
.mqm_selected {
	background-color: #777;
	color: #555;
}
.mqm_active_sub {
	background-color: #D3D3D3;
}
.mqm_column {
	width: 33%;
	float: left;
	/*overflow-y: scroll;
position: absolute;
top: 0;
bottom: 0;*/
}

#mqm_review {

}


#mqm_review li:hover {
	background: red;
}
