.mqm_item {
	cursor: pointer;
}
.mqm_hidden {
	display: none;
}
.mqm_selected {
	background-color: #FFFF00;
}
.mqm_active_sub {
	background-color: #D3D3D3;
}
.mqm_column {
	width: 20%;
	float: left;
}
