.mqm_item {
	cursor: pointer;
}
.mqm_hidden {
	display: none;
}
.mqm_selected {
	background-color: #566678;
	color: #ffa10f;
}
.mqm_active_sub {
	background-color: #4D5967;
}

/*.mqm_active_sub:before {
	content: "\f0c4";
}*/



.has_children {
	color: lightblue;
}

.has_children .fa {
	margin-left: 0.7em;
}


.mqm_column {
	width: 25%;
	float: left;
	/*overflow-y: scroll;
position: absolute;
top: 0;
bottom: 0;*/
}

#mqm_review {
	text-align: left;
}


#mqm_review li:hover {
	background: red;
}
.issue-bubbles{
	cursor: pointer;
}
